/* - - - HTML RESET - - - */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* - - - RESUME STYLES - - - */
body {font-family: 'Oxygen', Helvetica, sans-serif !important; font-size: 10px; margin: 3px 7px; color: #222; min-width: 280px;}
h1 { font-size: 2.1em; font-weight: bold; border-bottom: 1px solid #1094C9; color: #000;}
h2 { font-size: 1.5em; font-weight: bold; }
h3 { font-weight: normal;}

ul, ol {margin: 5px 0;}
p {font-size: 1.3em; line-height: 1.5em; margin: 7px 0; color: #444;}

a {text-decoration: none; color: #777;}
a:hover {color: #2C87AD;}
a:visited { color: #2C87AD;}

/* - - - HEADER STYLES - - -*/
header { height: 85px; margin-bottom: 1rem;}
header h1 {border-bottom: none; color: #1094C9;}
header h2 {color: #000;}

.logo {width: 135px; float: left;}
.accent, .first, .last{position: absolute; font-size: 3.5em;}
.accent {font-size: 6.5em; margin-left: 2px; background: #fff; font-weight: normal;}
.first { margin-left: 20px; top: 8px; z-index: 15;}
.last { margin-left: 31px; top: 32px; background: #fff; z-index: 10; padding-right: 10px;}
.contact {float: right; text-align: right; margin-top: 10px; z-index: 5; width: 85%;}
.email {font-size: 1.75em;}
.phone {font-size: 2em; margin-top: 3px; padding-bottom: 2px; border-bottom: 2px solid #1094C9; display: inline-block; width: 100%; color: #777;}

/* - - - BODY STYLES - - - */
.body {margin-left: 22px;}

.knowledge li {text-align: right; font-size: 1.6em; margin: 3px 0; width: 50%; display: inline-block; vertical-align: top;}
.knowledge {margin-bottom: 15px;}
.knowledge section {width: 100%; display: inline-block; vertical-align: top;}

.knowledge section,.employment, .nonJob {margin-top: 20px;}

.job, .achievement {margin: 20px 0; width: 100%;}
.job h1, .achievement h1 {font-size: 1.7em; color: #18567e;}
.job p {margin: .7rem 0;}

.date {float: right; font-size: .9em; font-weight: normal; margin-top: 1px; color: #777}
.info {display: inline-block; width: 100%; font-size: 1.6em; margin-bottom: 5px; vertical-align: top;}
.info li {display: inline-block; }
.info p {font-size: 1em;}
.site {color: #777; float: right;}
.college li {line-height: 1.4em; width: 100%;}


/* - - - MEDIA QUERIES - - - */
@media all and (max-width: 355px) {
	.body {margin-left: 15px;}
	.logo {height: 65px;}
	.phone {width: auto; border-bottom: none;}
	.contact {width: 100%;}
}

@media all and (min-width: 750px) {
	body {max-width: 1024px; margin: 3px auto;}
	.knowledge section { width: 46%; margin: 0 2%;}
	.employment, .nonJob {display: inline-block; width: 46%; margin: 0 2%; vertical-align: top;}
}

@media print {
	body {font-size: 8px}
	.knowledge section { width: 46%; margin: 0 2%;}
	.employment, .nonJob {display: inline-block; width: 46%; margin: 15px 2%; vertical-align: top;}
}
